In [37]:
import pandas as pd
import numpy as np

Connect to Google

In [38]:
from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US', tz=360)

Build Payload & keywords list

In [42]:
def gtrends(keyword_filedirectory, column_name, keyword_relative, naming_optional):
    category = pd.read_csv(keyword_filedirectory)
    full_list = category[column_name].values.tolist()
    #iterate every 4 item in list plus a keyword as the relative comparison
    i = 0
    while i < len(full_list):
        l = full_list[i:(i+4)]
        l.append(keyword_relative)
        pytrends.build_payload(l, cat=0, timeframe='all', geo='', gprop='')
        df_time = pytrends.interest_over_time()
        df_time.reset_index(inplace=True)
        df_time_name = "gtrends_overtime"+str(naming_optional)+str((i+4)//4)+".csv"
        df_time.to_csv(df_time_name, index = False)
        df_region = pytrends.interest_by_region(resolution='COUNTRY', inc_low_vol=True, inc_geo_code=False)
        df_region.reset_index(inplace=True)
        df_region_name = "gtrends_region"+str(naming_optional)+str((i+4)//4)+".csv"
        df_region.to_csv(df_region_name, index = False)
        i += 4

In [43]:
gtrends("/Users/rfdanti/Documents/UoM/3_dissertation/data/list_oil.csv", 'Keywords', 'Oil Price', "_oil-v_")

In [44]:
gtrends("/Users/rfdanti/Documents/UoM/3_dissertation/data/list_gtrends.csv", 'Keywords', 'Chromecast', "-v0_")

In [46]:
def gtrends_list(list_name, keyword_relative, naming_optional):
    #category = pd.read_csv(keyword_filedirectory)
    full_list = list_name
    #iterate every 4 item in list plus a keyword as the relative comparison
    i = 0
    while i < len(full_list):
        l = full_list[i:(i+4)]
        l.append(keyword_relative)
        pytrends.build_payload(l, cat=0, timeframe='all', geo='', gprop='')
        df_time = pytrends.interest_over_time()
        df_time.reset_index(inplace=True)
        df_time_name = "gtrends_overtime"+str(naming_optional)+str((i+4)//4)+".csv"
        df_time.to_csv(df_time_name, index = False)
        df_region = pytrends.interest_by_region(resolution='COUNTRY', inc_low_vol=True, inc_geo_code=False)
        df_region.reset_index(inplace=True)
        df_region_name = "gtrends_region"+str(naming_optional)+str((i+4)//4)+".csv"
        df_region.to_csv(df_region_name, index = False)
        i += 4

In [47]:
l = ['Weather', 'News', 'Music', 'Sports']
gtrends_list(l, 'Chromecast', "-baseline_")

In [48]:
check0 = pd.read_csv("gtrends_overtime-baseline_1.csv")
check0

           date  Weather  News  Music  Sports  Chromecast  isPartial
0    2004-01-01       27    33     45      14           0      False
1    2004-02-01       21    32     44      14           0      False
2    2004-03-01       20    30     44      15           0      False
3    2004-04-01       21    32     43      14           0      False
4    2004-05-01       24    31     43      14           0      False
..          ...      ...   ...    ...     ...         ...        ...
193  2020-02-01       68    57     14      11           1      False
194  2020-03-01       61   100     13       8           1      False
195  2020-04-01       56    78     14       6           1      False
196  2020-05-01       66    64     14       7           1      False
197  2020-06-01       68    87     12       7           1       True

[198 rows x 7 columns]

In [50]:
def combine_wbase(base_name, n_file, baseline, filename):
    df1 = pd.read_csv(base_name+str(1)+".csv")
    for i in range(n_file-1):
        df2 = pd.read_csv(base_name+str(i+2)+".csv")
        df1 = pd.concat([df1, df2], axis=1, sort=False)
    base = pd.read_csv(baseline)
    df1 = pd.concat([df1, base], axis=1, sort=False)
    df_name = filename
    df1.to_csv(df_name, index = False)

In [51]:
combine_wbase("gtrends_overtime-v0_", 18, "gtrends_overtime-baseline_1.csv", "gtrends_overtime_combine.csv")
check1 = pd.read_csv("gtrends_overtime_combine.csv")
check1

,date,Amazon Cloud Cam,Amazon Echo Plus,Amazon Echo,Amazon Echo Dot,Chromecast,isPartial,date.1,Amazon Echo Show,Amazon Echo Spot,...,Ring Alarm,Chromecast.17,isPartial.17,date.18,Weather,News,Music,Sports,Chromecast.18,isPartial.18
0,2004-01-01,0,0,0,0,0,False,2004-01-01,0,0,...,0,0,False,2004-01-01,27,33,45,14,0,False
1,2004-02-01,0,0,0,0,0,False,2004-02-01,0,0,...,0,0,False,2004-02-01,21,32,44,14,0,False
2,2004-03-01,0,0,0,0,0,False,2004-03-01,0,0,...,0,0,False,2004-03-01,20,30,44,15,0,False
3,2004-04-01,0,0,0,0,0,False,2004-04-01,0,0,...,0,0,False,2004-04-01,21,32,43,14,0,False
4,2004-05-01,0,0,0,0,0,False,2004-05-01,0,0,...,0,0,False,2004-05-01,24,31,43,14,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2020-02-01,0,0,7,2,42,False,2020-02-01,1,0,...,1,42,False,2020-02-01,68,57,14,11,1,False
194,2020-03-01,0,0,6,1,52,False,2020-03-01,1,0,...,1,52,False,2020-03-01,61,100,13,8,1,False
195,2020-04-01,0,0,7,2,60,False,2020-04-01,1,0,...,1,60,False,2020-04-01,56,78,14,6,1,False
196,2020-05-01,0,0,7,2,52,False,2020-05-01,1,0,...,1,52,False,2020-05-01,66,64,14,7,1,False
197,2020-06-01,0,0,5,2,42,True,2020-06-01,1,0,...,2,42,True,2020-06-01,68,87,12,7,1,True

In [53]:
n_file = 18
for i in range(n_file):    
    check1 = check1.drop(columns="date."+str(i+1)+"")
    check1 = check1.drop(columns="isPartial."+str(i+1)+"")
check1

,date,Amazon Cloud Cam,Amazon Echo Plus,Amazon Echo,Amazon Echo Dot,Chromecast,isPartial,Amazon Echo Show,Amazon Echo Spot,Amazon Fire TV,...,Ring Stick,Ring Video Doorbell,Ring Floodlight Cam,Ring Alarm,Chromecast.17,Weather,News,Music,Sports,Chromecast.18
0,2004-01-01,0,0,0,0,0,False,0,0,0,...,0,0,0,0,0,27,33,45,14,0
1,2004-02-01,0,0,0,0,0,False,0,0,0,...,0,0,0,0,0,21,32,44,14,0
2,2004-03-01,0,0,0,0,0,False,0,0,0,...,0,0,0,0,0,20,30,44,15,0
3,2004-04-01,0,0,0,0,0,False,0,0,0,...,0,0,0,0,0,21,32,43,14,0
4,2004-05-01,0,0,0,0,0,False,0,0,0,...,0,0,0,0,0,24,31,43,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2020-02-01,0,0,7,2,42,False,1,0,6,...,1,1,0,1,42,68,57,14,11,1
194,2020-03-01,0,0,6,1,52,False,1,0,7,...,1,1,0,1,52,61,100,13,8,1
195,2020-04-01,0,0,7,2,60,False,1,0,7,...,1,1,0,1,60,56,78,14,6,1
196,2020-05-01,0,0,7,2,52,False,1,0,7,...,1,1,0,1,52,66,64,14,7,1
197,2020-06-01,0,0,5,2,42,True,1,0,6,...,1,1,0,2,42,68,87,12,7,1

In [91]:
n_file = 18
l_check_more = []
l_check_less = []
for i in range(n_file):
    if check1["Chromecast."+str(i+1)+""][197] == check1["Chromecast"][197]:
        pass
    elif check1["Chromecast."+str(i+1)+""][197] < check1["Chromecast"][197]:
        l_check_less.append("Chromecast."+str(i+1)+"")
    elif check1["Chromecast."+str(i+1)+""][197] > check1["Chromecast"][197]:
        l_check_more.append("Chromecast."+str(i+1)+"")

In [92]:
print(l_check_more)
print(l_check_less)

[]
['Chromecast.6', 'Chromecast.7', 'Chromecast.8', 'Chromecast.13', 'Chromecast.18']

In [93]:
l = l_check_more + l_check_less
print(l)

['Chromecast.6', 'Chromecast.7', 'Chromecast.8', 'Chromecast.13', 'Chromecast.18']

In [57]:
check1.to_csv("gtrends_overtime_combine-v1.csv", index = False)

i = [6,7,8,13,18]
formula => new_value[column][n] = old_value[column][n] * (check1["Chromecast"][n]/check1["Chromecast."+str(i)+""][n])
.get_loc()

In [59]:
check1["Chromecast."+str(6)+""]

0       0
1       0
2       0
3       0
4       0
       ..
193    39
194    48
195    55
196    47
197    39
Name: Chromecast.6, Length: 198, dtype: int64

In [73]:
check2 = check1
len(check2.index)

198

In [69]:
k = check1.columns.get_loc("Chromecast."+str(6)+"")
check1.iloc[0,(k-1)]

0

In [74]:
check2 = check1
li = [6,7,8,13,18]
for i in li:
    k = check2.columns.get_loc("Chromecast."+str(i)+"")
    for n in range(len(check2.index)):
        check2.iloc[n,(k-1)] = (check2.iloc[n,(k-1)] * (check2["Chromecast"][n]/check2["Chromecast."+str(i)+""][n]))
        check2.iloc[n,(k-2)] = (check2.iloc[n,(k-2)] * (check2["Chromecast"][n]/check2["Chromecast."+str(i)+""][n]))
        check2.iloc[n,(k-3)] = (check2.iloc[n,(k-3)] * (check2["Chromecast"][n]/check2["Chromecast."+str(i)+""][n]))
        check2.iloc[n,(k-4)] = (check2.iloc[n,(k-4)] * (check2["Chromecast"][n]/check2["Chromecast."+str(i)+""][n]))
check2.to_csv("gtrends_overtime_combine-v2.csv", index = False)
check2

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in long_scalars

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in long_scalars
  import sys
/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in long_scalars

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: RuntimeWarning: invalid value encountered in long_scalars
  if __name__ == '__main__':
/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in long_scalars

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in long_scalars
  import sys
/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: RuntimeWarning: divide by zero encountered in long_scalars

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: RuntimeWarning: divide by zero encountered in long_scalars
  if __name__ == '__main__':

,date,Amazon Cloud Cam,Amazon Echo Plus,Amazon Echo,Amazon Echo Dot,Chromecast,isPartial,Amazon Echo Show,Amazon Echo Spot,Amazon Fire TV,...,Ring Stick,Ring Video Doorbell,Ring Floodlight Cam,Ring Alarm,Chromecast.17,Weather,News,Music,Sports,Chromecast.18
0,2004-01-01,0,0,0,0,0,False,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,0
1,2004-02-01,0,0,0,0,0,False,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,0
2,2004-03-01,0,0,0,0,0,False,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,0
3,2004-04-01,0,0,0,0,0,False,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,0
4,2004-05-01,0,0,0,0,0,False,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2020-02-01,0,0,7,2,42,False,1,0,6,...,1,1,0,1,42,2856.0,2394.0,588.0,462.0,1
194,2020-03-01,0,0,6,1,52,False,1,0,7,...,1,1,0,1,52,3172.0,5200.0,676.0,416.0,1
195,2020-04-01,0,0,7,2,60,False,1,0,7,...,1,1,0,1,60,3360.0,4680.0,840.0,360.0,1
196,2020-05-01,0,0,7,2,52,False,1,0,7,...,1,1,0,1,52,3432.0,3328.0,728.0,364.0,1
197,2020-06-01,0,0,5,2,42,True,1,0,6,...,1,1,0,2,42,2856.0,3654.0,504.0,294.0,1

In [75]:
check3 = check2
check3.fillna(0)
check3 = check3.drop(columns="isPartial")
check3.drop(check3.tail(1).index,inplace=True)
check3

,date,Amazon Cloud Cam,Amazon Echo Plus,Amazon Echo,Amazon Echo Dot,Chromecast,Amazon Echo Show,Amazon Echo Spot,Amazon Fire TV,Apple HomeKit,...,Ring Stick,Ring Video Doorbell,Ring Floodlight Cam,Ring Alarm,Chromecast.17,Weather,News,Music,Sports,Chromecast.18
0,2004-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,0
1,2004-02-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,0
2,2004-03-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,0
3,2004-04-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,0
4,2004-05-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,2020-01-01,0,0,10,3,50,1,0,7,1,...,1,1,0,2,50,3750.0,2950.0,700.0,600.0,1
193,2020-02-01,0,0,7,2,42,1,0,6,1,...,1,1,0,1,42,2856.0,2394.0,588.0,462.0,1
194,2020-03-01,0,0,6,1,52,1,0,7,1,...,1,1,0,1,52,3172.0,5200.0,676.0,416.0,1
195,2020-04-01,0,0,7,2,60,1,0,7,1,...,1,1,0,1,60,3360.0,4680.0,840.0,360.0,1
196,2020-05-01,0,0,7,2,52,1,0,7,1,...,1,1,0,1,52,3432.0,3328.0,728.0,364.0,1

In [76]:
n_file = 18
check3.fillna(0, inplace=True)
for i in range(n_file):    
    check3 = check3.drop(columns="Chromecast."+str(i+1)+"")
check3

,date,Amazon Cloud Cam,Amazon Echo Plus,Amazon Echo,Amazon Echo Dot,Chromecast,Amazon Echo Show,Amazon Echo Spot,Amazon Fire TV,Apple HomeKit,...,Blink XT2,Ring Chime,Ring Stick,Ring Video Doorbell,Ring Floodlight Cam,Ring Alarm,Weather,News,Music,Sports
0,2004-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
1,2004-02-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
2,2004-03-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
3,2004-04-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
4,2004-05-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,2020-01-01,0,0,10,3,50,1,0,7,1,...,1,1,1,1,0,2,3750.0,2950.0,700.0,600.0
193,2020-02-01,0,0,7,2,42,1,0,6,1,...,1,1,1,1,0,1,2856.0,2394.0,588.0,462.0
194,2020-03-01,0,0,6,1,52,1,0,7,1,...,1,1,1,1,0,1,3172.0,5200.0,676.0,416.0
195,2020-04-01,0,0,7,2,60,1,0,7,1,...,1,1,1,1,0,1,3360.0,4680.0,840.0,360.0
196,2020-05-01,0,0,7,2,52,1,0,7,1,...,1,1,1,1,0,1,3432.0,3328.0,728.0,364.0

In [77]:
check3.to_csv("gtrends_overtime_combine-v3.csv", index = False)

In [79]:
check4=pd.melt(check3,id_vars=['date'],var_name='keywords', value_name='relative_popularity')
check4

             date          keywords  relative_popularity
0      2004-01-01  Amazon Cloud Cam                  0.0
1      2004-02-01  Amazon Cloud Cam                  0.0
2      2004-03-01  Amazon Cloud Cam                  0.0
3      2004-04-01  Amazon Cloud Cam                  0.0
4      2004-05-01  Amazon Cloud Cam                  0.0
...           ...               ...                  ...
15164  2020-01-01            Sports                600.0
15165  2020-02-01            Sports                462.0
15166  2020-03-01            Sports                416.0
15167  2020-04-01            Sports                360.0
15168  2020-05-01            Sports                364.0

[15169 rows x 3 columns]

In [80]:
lookup = pd.read_csv("/Users/rfdanti/Documents/UoM/3_dissertation/data/list_gtrends_v0.csv")
check5 = check4.merge(lookup, on="keywords")
check5

,date,keywords,relative_popularity,brand,category
0,2004-01-01,Amazon Cloud Cam,0.0,Amazon,Smart home & security
1,2004-02-01,Amazon Cloud Cam,0.0,Amazon,Smart home & security
2,2004-03-01,Amazon Cloud Cam,0.0,Amazon,Smart home & security
3,2004-04-01,Amazon Cloud Cam,0.0,Amazon,Smart home & security
4,2004-05-01,Amazon Cloud Cam,0.0,Amazon,Smart home & security
...,...,...,...,...,...
14967,2020-01-01,Sports,600.0,General,Comparison
14968,2020-02-01,Sports,462.0,General,Comparison
14969,2020-03-01,Sports,416.0,General,Comparison
14970,2020-04-01,Sports,360.0,General,Comparison
14971,2020-05-01,Sports,364.0,General,Comparison

In [81]:
check5.to_csv("gtrends_overtime.csv", index = False)

In [82]:
check6 = pd.read_csv("gtrends_overtime.csv")
check6

,date,keywords,relative_popularity,brand,category
0,2004-01-01,Amazon Cloud Cam,0.0,Amazon,Smart home & security
1,2004-02-01,Amazon Cloud Cam,0.0,Amazon,Smart home & security
2,2004-03-01,Amazon Cloud Cam,0.0,Amazon,Smart home & security
3,2004-04-01,Amazon Cloud Cam,0.0,Amazon,Smart home & security
4,2004-05-01,Amazon Cloud Cam,0.0,Amazon,Smart home & security
...,...,...,...,...,...
14967,2020-01-01,Sports,600.0,General,Comparison
14968,2020-02-01,Sports,462.0,General,Comparison
14969,2020-03-01,Sports,416.0,General,Comparison
14970,2020-04-01,Sports,360.0,General,Comparison
14971,2020-05-01,Sports,364.0,General,Comparison

In [83]:
def combine(base_name, n_file, filename):
    df1 = pd.read_csv(base_name+str(1)+".csv")
    for i in range(n_file-1):
        df2 = pd.read_csv(base_name+str(i+2)+".csv")
        df1 = pd.concat([df1, df2], axis=1, sort=False)
    df_name = filename
    df1.to_csv(df_name, index = False)

In [84]:
combine("gtrends_region-v0_", 18, "gtrends_region_combine.csv")
df1 = pd.read_csv("gtrends_region_combine.csv")
df1

,geoName,Amazon Cloud Cam,Amazon Echo Plus,Amazon Echo,Amazon Echo Dot,Chromecast,geoName.1,Amazon Echo Show,Amazon Echo Spot,Amazon Fire TV,...,Blink indoor,Blink XT2,Ring Chime,Chromecast.16,geoName.17,Ring Stick,Ring Video Doorbell,Ring Floodlight Cam,Ring Alarm,Chromecast.17
0,Afghanistan,0,0,0,0,100,Afghanistan,0,0,0,...,0,0,0,100,Afghanistan,0,0,0,0,100
1,Albania,0,0,0,0,100,Albania,0,0,0,...,0,0,0,100,Albania,0,0,0,0,100
2,Algeria,0,0,4,0,96,Algeria,0,0,0,...,0,0,0,100,Algeria,0,0,0,0,100
3,American Samoa,0,0,0,0,0,American Samoa,0,0,0,...,0,0,0,0,American Samoa,0,0,0,0,0
4,Andorra,0,0,0,0,100,Andorra,0,0,0,...,0,0,0,100,Andorra,0,0,0,0,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Western Sahara,0,0,0,0,0,Western Sahara,0,0,0,...,0,0,0,0,Western Sahara,0,0,0,0,0
246,Yemen,0,0,13,0,87,Yemen,0,0,0,...,0,0,0,100,Yemen,0,0,0,0,100
247,Zambia,0,0,0,0,100,Zambia,0,0,0,...,0,0,0,100,Zambia,0,0,0,0,100
248,Zimbabwe,0,0,0,0,100,Zimbabwe,0,0,0,...,0,0,0,100,Zimbabwe,0,0,0,0,100
249,Ã…land Islands,0,0,0,0,100,Ã…land Islands,0,0,0,...,0,0,0,100,Ã…land Islands,0,0,0,0,100

In [98]:
def tidydata(df, nf, col1, base_kw, filename, col2, pairs=4):
    df1 = pd.read_csv(df)
    n_file = nf
    for i in range(n_file-1):    
        df1 = df1.drop(columns=""+str(col1)+str(i+1)+"")
        
    row = (len(df1.index)-1)
    l_check_more = []
    l_check_less = []
    for i in range(n_file-1):
        if df1[""+str(base_kw)+"."+str(i+1)+""][row] == df1[base_kw][row]:
            pass
        elif df1[""+str(base_kw)+"."+str(i+1)+""][row] < df1[base_kw][row]:
            l_check_less.append(i+1)
        elif df1[""+str(base_kw)+"."+str(i+1)+""][row] > df1[base_kw][row]:
            l_check_more.append(i+1)

    l = l_check_more + l_check_less

    for i in l:
        k = df1.columns.get_loc(""+str(base_kw)+"."+str(i)+"")
        for n in range(len(df1.index)):
            for m in range(pairs):
                df1.iloc[n,(k-m-1)] = (df1.iloc[n,(k-m-1)] * (df1[base_kw][n]/df1[""+str(base_kw)+"."+str(i)+""][n]))
    
    df1.fillna(0, inplace=True)
    for i in range(n_file-1):    
        df1 = df1.drop(columns=""+str(base_kw)+"."+str(i+1)+"")
    
    df2=pd.melt(df1,id_vars=[col2],var_name='keywords', value_name='relative_popularity')
    df2.to_csv(filename, index = False)

tidydata("gtrends_region_combine.csv", 18, "geoName.", "Chromecast", "gtrends_region_combine-v1.csv", 'geoName')
df3 = pd.read_csv("gtrends_region_combine-v1.csv")
df3

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in long_scalars
/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: divide by zero encountered in long_scalars
/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in double_scalars

              geoName          keywords  relative_popularity
0         Afghanistan  Amazon Cloud Cam                  0.0
1             Albania  Amazon Cloud Cam                  0.0
2             Algeria  Amazon Cloud Cam                  0.0
3      American Samoa  Amazon Cloud Cam                  0.0
4             Andorra  Amazon Cloud Cam                  0.0
...               ...               ...                  ...
18245  Western Sahara        Ring Alarm                  0.0
18246           Yemen        Ring Alarm                  0.0
18247          Zambia        Ring Alarm                  0.0
18248        Zimbabwe        Ring Alarm                  0.0
18249   Ã…land Islands        Ring Alarm                  0.0

[18250 rows x 3 columns]

In [99]:
df4 = df3.merge(lookup, on="keywords")
df4.to_csv("gtrends_region.csv", index = False)
df4

,geoName,keywords,relative_popularity,brand,category
0,Afghanistan,Amazon Cloud Cam,0.0,Amazon,Smart home & security
1,Albania,Amazon Cloud Cam,0.0,Amazon,Smart home & security
2,Algeria,Amazon Cloud Cam,0.0,Amazon,Smart home & security
3,American Samoa,Amazon Cloud Cam,0.0,Amazon,Smart home & security
4,Andorra,Amazon Cloud Cam,0.0,Amazon,Smart home & security
...,...,...,...,...,...
17995,Western Sahara,Ring Alarm,0.0,Ring,Smart home & security
17996,Yemen,Ring Alarm,0.0,Ring,Smart home & security
17997,Zambia,Ring Alarm,0.0,Ring,Smart home & security
17998,Zimbabwe,Ring Alarm,0.0,Ring,Smart home & security
17999,Ã…land Islands,Ring Alarm,0.0,Ring,Smart home & security